<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDZslD7dmjYtF2h3hm8h1YkXCzIiSRC6tM</string>
	<key>GCM_SENDER_ID</key>
	<string>886928812998</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.coachingClient</string>
	<key>PROJECT_ID</key>
	<string>coaching-4c61b</string>
	<key>STORAGE_BUCKET</key>
	<string>coaching-4c61b.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:886928812998:ios:89c999c56d41da6feca0c7</string>
</dict>
</plist>